* {
	box-sizing: border-box
}

button {
	cursor: pointer;
	margin: 0;
	padding: 0
}

#closeSearch {
	cursor: pointer;
	align-items: center;
	gap: var(--headerSpacing8);
	font-family: var(--sans);
	font-size: var(--headerFontSize14);
	color: var(--darkModeWhite, var(--text120));
	background: 0 0;
	border: none;
	display: none
}

#closeSearch svg {
	fill: var(--darkModeWhite, var(--text120))
}

a {
	text-decoration: none
}

ul {
	display: inherit;
	margin: 0;
	padding: 0;
	list-style-type: none
}

#symbolAppNameContainer {
	display: flex
}

#slimAppNameHref {
	font-family: var(--sans);
	font-size: var(--headerFontSize14);
	color: var(--darkModeWhite, var(--text120));
	background: var(--darkModeTwo);
	white-space: nowrap;
	align-items: center;
	text-decoration: none;
	display: flex
}

#slimAppNameHref[data-islink=true]:hover {
	color: var(--darkModeBlue, var(--colorLink))
}

#mainLogoLink {
	height: var(--headerHeight)
}

#PFmainHeader,
#mainLogoLink {
	background: var(--darkModeTwo, var(--white));
	display: flex
}

#PFmainHeader {
	z-index: 100;
	flex-direction: column;
	width: 100%;
	min-width: 225px;
	position: relative
}

@media (min-width:980px) {
	#PFmainHeader {
		justify-content: normal
	}
}

#PFmainHeader::-webkit-scrollbar {
	display: none
}

#PFmainHeader {
	-ms-overflow-style: none;
	scrollbar-width: none
}

#borderBottom {
	border-bottom: 1px solid var(--darkModeGrey, var(--grey5))
}

#headerInsides {
	display: flex
}

#slimWordMark {
	background: var(--darkModeTwo, var(--white));
	z-index: 96;
	border-bottom: 1px solid var(--grey5);
	font-size: var(--headerFontSize13);
	line-height: var(--lineHeightTight);
	font-family: var(--serif);
	color: var(--darkModeWhite, var(--grey40));
	justify-content: center;
	padding: 7px 0;
	display: flex;
	position: relative
}

#symbolContainer {
	height: calc(var(--headerHeight) + 1px);
	display: flex
}

#overlay {
	pointer-events: auto;
	z-index: 102;
	visibility: hidden;
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
	background: rgba(247, 248, 248, .52);
	transition: background-color .1s linear, -webkit-backdrop-filter .1s linear, backdrop-filter .1s linear;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0
}

global-mobile-nav[active=true]+#overlay {
	visibility: visible
}

#skipNavLink {
	text-decoration: none
}

.screenReaderLogin {
	background-color: var(--darkModeBlue, var(--theme-page-header-nav-bg, var(--blue25)));
	color: var(--white);
	font-family: var(--sans);
	font-size: var(--headerFontSize14);
	padding: var(--headerSpacing8);
	border: 1px initial;
	border-color: initial;
	border-image: initial;
	z-index: 105;
	border-radius: 2px;
	transition: top .25s cubic-bezier(.87, 0, .13, 1);
	position: fixed;
	top: -100px;
	left: 4px
}

.screenReaderLogin:focus,
.screenReaderLogin:hover {
	color: var(--white);
	top: 0
}

account-verification {
	top: -500px
}

account-verification[active=true] {
	top: 82px
}

#mobileNavButton {
	background: var(--darkModeTwo, var(--white));
	cursor: pointer;
	width: 56px;
	height: calc(var(--headerHeight) + 1px);
	z-index: 102;
	border: none;
	justify-content: center;
	align-items: center;
	display: none;
	position: relative;
	top: 0
}

#mobileNavButton svg {
	width: 32px;
	height: 32px;
	fill: var(--darkModeWhite, var(--theme-page-header-nav-bg, var(--blue25)));
	position: relative
}

@media (min-width:330px) {
	#mobileNavButton {
		background: var(--darkModeBlue, var(--theme-page-header-nav-bg, var(--blue25)));
		border-bottom-color: var(--darkModeBlue, var(--theme-page-header-nav-bg, var(--blue25)))
	}

	#mobileNavButton svg {
		fill: var(--darkModeOne, var(--white))
	}
}

#symbolWordmarkContainer {
	z-index: 102;
	background: var(--white);
	height: 0;
	transition: height .35s ease-in-out;
	display: flex;
	position: absolute;
	left: 0;
	overflow-x: hidden
}

#symbolWordmarkContainer::-webkit-scrollbar {
	display: none
}

#symbolWordmarkContainer {
	-ms-overflow-style: none;
	scrollbar-width: none
}

#symbolWordmark {
	background: var(--darkModeBlue, var(--theme-page-header-nav-bg, var(--blue25)));
	padding-top: var(--headerSpacing48);
	flex-direction: column;
	align-items: center;
	width: 170px;
	height: 400px;
	display: flex
}

#symbolWordmark img {
	width: 110px;
	height: 218px
}

:host([data-show-menu=true]) {
	background: var(--white);
	width: 100%
}

:host([data-show-menu=true]) #symbolWordmarkContainer {
	height: 399px
}

.menuItemHref {
	width: 270px;
	margin-bottom: var(--headerSpacing16);
	color: var(--text120);
	margin-right: var(--headerSpacing24);
	flex-direction: column;
	text-decoration: none;
	display: flex
}

.menuItemHref:hover .menuLabel {
	color: var(--darkModeBlue, var(--colorLink))
}

.menuLabel {
	font-size: var(--headerFontSize14);
	font-weight: var(--fontWeightBold);
	white-space: nowrap
}

.menuDescription,
.menuLabel {
	color: var(--darkModeWhite, var(--text120))
}

.menuDescription {
	font-size: var(--headerFontSize11);
	font-weight: var(--fontWeightNormal)
}

:host([rtl=true]) {
	height: var(--headerHeight)
}

:host([rtl=true]) #mobileLightraysContainer {
	z-index: 103;
	width: 48px;
	display: flex;
	position: relative
}

:host([rtl=true]) #mobileLightraysContainer svg {
	height: calc(var(--headerHeight) + 1px);
	display: block;
	transform: scaleX(-1)
}

@media (min-width:330px) {
	:host([rtl=true]) #mobileLightraysContainer {
		visibility: visible;
		width: 20px
	}

	:host([rtl=true]) #mobileLightraysContainer svg {
		width: 20px
	}
}

@media (min-width:380px) {
	:host([rtl=true]) #mobileLightraysContainer {
		width: 50px
	}

	:host([rtl=true]) #mobileLightraysContainer svg {
		width: 50px
	}
}

:host([rtl=true]) #lightraysContainer {
	width: 46px;
	height: 100%;
	display: block
}

:host([rtl=true]) #lightraysContainer svg {
	width: 48px;
	height: calc(var(--headerHeight) + 1px);
	display: block;
	transform: scaleX(-1)
}

:host([rtl=true]) #wordmark {
	height: var(--headerHeight);
	z-index: 101;
	align-items: center;
	display: flex;
	top: 0
}

:host([rtl=true]) #mainLogo {
	width: 120px;
	display: flex
}

@media (min-width:260px) {
	:host([rtl=true]) #mainLogo {
		width: 155px
	}
}

:host([rtl=true]) #mainLogo {
	pointer-events: none
}

:host([rtl=true]) #mainLogo svg {
	pointer-events: none;
	width: auto;
	height: 74px
}

:host([rtl=true]) #symbolWordmarkContainer {
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	top: 0;
	right: 0
}

:host([rtl=true]) #megalightraysContainer svg {
	transform: scaleX(-1)
}

:host([rtl=true]) .menuItemHeader {
	margin-left: var(--headerSpacing24);
	margin-right: 0
}

:host([rtl=true]) .menusContainer {
	flex-flow: column wrap;
	max-height: 292px;
	display: flex;
	position: absolute;
	top: 74px;
	right: 304px
}

:host([rtl=true]) .menuItemHref {
	width: 270px;
	margin-bottom: var(--headerSpacing16);
	color: var(--text120);
	margin-left: var(--headerSpacing24);
	flex-direction: column;
	margin-right: 0;
	text-decoration: none;
	display: flex
}

:host([rtl=true]) #mainMenus {
	padding: 0 32px 0 var(--headerSpacing64)
}

:host([rtl=false]) #mobileLightraysContainer {
	z-index: 103;
	width: 48px;
	display: flex;
	position: relative
}

:host([rtl=false]) #mobileLightraysContainer svg {
	height: calc(var(--headerHeight) + 1px);
	display: block
}

@media (min-width:330px) {
	:host([rtl=false]) #mobileLightraysContainer svg {
		width: 20px
	}
}

@media (min-width:380px) {
	:host([rtl=false]) #mobileLightraysContainer svg {
		width: 50px
	}
}

:host([rtl=false]) #lightraysContainer {
	width: 46px;
	height: 100%;
	display: block
}

:host([rtl=false]) #lightraysContainer svg {
	width: 48px;
	height: calc(var(--headerHeight) + 1px);
	display: block
}

:host([rtl=false]) #wordmark {
	height: var(--headerHeight);
	z-index: 101;
	align-items: center;
	display: flex
}

:host([rtl=false]) #mobileNavButton {
	width: 56px;
	left: 0
}

:host([rtl=false]) #mainLogo {
	width: 120px;
	display: flex
}

@media (min-width:260px) {
	:host([rtl=false]) #mainLogo {
		width: 155px
	}
}

:host([rtl=false]) #mainLogo svg {
	width: auto;
	height: 74px
}

:host([rtl=false]) .menuItemHeader {
	margin-left: 0;
	margin-right: var(--headerSpacing24)
}

:host([rtl=false]) #menuUl li:last-child .menuItemHeader {
	margin-right: 0
}

:host([rtl=false]) #mainMenus {
	padding: 0 var(--headerSpacing64) 0 32px
}

#lightraysContainer,
#mobileLightraysContainer {
	background: var(--darkModeTwo, var(--white))
}

#symbol {
	background: var(--darkModeBlue, var(--theme-page-header-nav-bg, var(--blue25)))
}

#symbol img {
	width: auto;
	height: 36px
}

#symbol picture {
	height: 36px
}

#symbol {
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100%;
	display: flex
}

#leftSideContainer {
	z-index: 100;
	background: var(--white);
	height: var(--headerHeight)
}

.menuWrapper {
	flex-direction: row;
	display: flex
}

.menuWrapper .menuItemHeader {
	white-space: nowrap
}

.menusContainer {
	flex-flow: column wrap;
	max-height: 292px;
	display: flex;
	position: absolute;
	top: 74px;
	left: 304px
}

#menuUl {
	padding-top: 8px
}

.menuItemHeader {
	font-family: var(--sans);
	font-size: var(--headerFontSize13);
	font-weight: var(--fontWeightNormal);
	height: 28px;
	color: var(--darkModeWhite, var(--text120));
	background: 0 0;
	border: none;
	padding-bottom: 2px;
	display: flex
}

.menuItemHeader:hover {
	color: var(--darkModeBlue, var(--colorLink))
}

.menuItemHeader[aria-expanded=true] {
	border-bottom: 2px solid var(--darkModeBlue, var(--theme-page-header-nav-bg, var(--blue25)))
}

:host(:not([data-show-menu=true])) .menuItem.active {
	border-bottom: 2px solid var(--darkModeBlue, var(--theme-page-header-nav-bg, var(--blue25)));
	padding-bottom: 8px
}

search-bar.hidden+#menusContainer {
	margin-top: 3px
}

.openMegaMenu {
	animation-name: openMenu;
	animation-duration: .35s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards
}

@keyframes openMenu {
	0% {
		height: 160px;
		position: absolute
	}

	to {
		border-bottom: 1px solid var(--grey5);
		height: 400px;
		position: absolute
	}
}

.closeMegaMenu {
	animation-name: closeMenu;
	animation-duration: .35s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards
}

@keyframes closeMenu {
	0% {
		height: 400px
	}

	to {
		height: var(--headerHeight)
	}
}

#searchBarContainer {
	padding: 0 var(--headerSpacing16);
	justify-content: flex-end;
	display: flex
}

@keyframes openMobileSearch {
	0% {
		top: var(--mobileSearchAniMationCloseHeight)
	}

	to {
		top: var(--mobileSearchAnimationHeight)
	}
}

.openMobileSearch {
	animation-name: openMobileSearch;
	animation-duration: .35s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards
}

@keyframes closeMobileSearch {
	0% {
		top: var(--mobileSearchAnimationHeight)
	}

	to {
		top: var(--mobileSearchAniMationCloseHeight)
	}
}

.closeMobileSearch {
	animation-name: closeMobileSearch;
	animation-duration: .35s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards
}

#rightSideContainer {
	background: var(--darkModeTwo, var(--white));
	flex-grow: 1;
	display: flex;
	justify-content: flex-end !important
}

@media (max-width:1350px) {
	#rightSideContainer {
		display: none;
		visibility: hidden
	}
}

@media (max-width:900px) {
    #menuUl {
        display: flex;
        flex-direction: column;
    }
    #headerInsides {
        height: 100px;
        justify-content: space-between;
    }
    #mainLogoLink{
        height: 100px;
        gap: 10px;
    }
    #symbolContainer {
        height: auto;
    }
    :host([rtl=false]) #lightraysContainer {
        /* width: 100px; */
        height: 100px;
        display: block;
    }   
    #lightraysContainer {
        scale: 1.7;
        /* padding-left: 9px; */
    }
    :host([rtl=false]) #lightraysContainer svg {
        height: calc(var(--headerHeight) + 6.5px);
        margin-left: -0.5px;
    }

}

:host([data-showheader=true]) #menusSearchContainer {
	width: 100%;
	visibility: visible !important
}

:host([data-searchfocus=true]) #searchBarContainer {
	flex-grow: 1;
	justify-content: space-between
}

:host([data-searchfocus=true]) #closeSearch {
	display: flex
}

#mainMenus {
	height: var(--headerHeight);
	z-index: 101;
	background: var(--darkModeTwo, var(--white));
	align-items: center;
	display: flex
}

#mainMenus[data-searchfocus=true] {
	display: none !important
}

:host([data-mobilesearch=true]) #searchBarContainer {
	width: 100%;
	height: 44px;
	top: var(--mobileSearchAniMationCloseHeight);
	background: var(--darkModeOne, var(--grey2));
	z-index: 95;
	border-bottom: 1px solid var(--grey5);
	justify-content: center;
	display: none;
	position: absolute;
	left: 0
}

:host([data-mobilesearch=true]) #searchBarContainer search-bar {
	height: 44px
}

:host([data-mobilesearch=true]) #closeSearch {
	display: none
}

#mainLogo svg {
	fill: var(--darkModeWhite, var(--text120))
}

#megalightraysContainer,
#wordmark {
	background: var(--darkModeTwo, var(--white))
}

:host([data-isslim=true]) #lightraysContainer {
	width: 38px
}